@import "src/common/styles/mixins";

.what {
  display: flex;
  justify-content: space-between;
  //flex-wrap: wrap;
  position: relative;
  background: #1B1E4A;
  padding: 60px 65px 110px;
  margin-top: 42px;
  margin-left: 17%;
  box-sizing: border-box;
  border-radius: 30px 0 0 30px;
  filter: drop-shadow(-16px 0px 0px #75F880) drop-shadow(-16px 0px 0px #E25AF0);

  @include lg-down {
    flex-direction: column;
    align-items: center;
  }

  @include xs-down {
    margin-left: 30px;
    padding: 35px 30px 50px;
    filter: drop-shadow(-5px 0px 0px #75F880) drop-shadow(-5px 0px 0px #E25AF0);
  }

  &__content {

    @include lg-down {
      margin-bottom: 60px;
    }

  }

  &__title {
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    color: #E25AF0;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;

    @include xs-down {
      padding-top: 50px;
    }
  }

  &__block {
    max-width: 320px;
    width: 100%;
    margin-top: 40px;
    margin-right: 50px;

    @include xs-down {
      margin-right: 0;
    }
  }

  &__block-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__block-text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #BFBEBE;
  }

  &__buy {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__price-wrap {
    display: flex;
  }

  &__price-finish {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    color: #E25AF0;
    margin-right: 15px;
  }

  &__price-full {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 15px;
  }

  &__price-sale {
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
    line-height: 42px;
    text-transform: uppercase;
    color: #75F880;
  }

  &__offer {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__btn-group {
    margin-top: 28px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    max-width: 255px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__btn--outline {
  }

  &__guard {
    margin-top: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }
}


