@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.selected-lesson {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(15, 20, 52, 0) 0%, #0F1434 100%);
    // height: 691px;

    iframe {
        margin-top: 130px;
        width: 100%;
        height: 501px;
        padding: 0 8% 0 17%;
        box-sizing: border-box;

        @include sm-down {
            margin-top: 110px;
            height: 140px;
            padding: 0 5%;
        }
    }

    &_preview {
        position: relative;
        margin-left: 17%;
        margin-top: 140px;
        width: 75%;
        height: 691px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        .play-icon {
            position: absolute;
            width: 64px;
            height: 64px;
            top: 312px;
            left: calc(50% - 32px);
            transition: 0.3s;
            z-index: 2;
            &:hover {
                background-color: #d2ebc34f;
            }
        }
        .duration {
            position: absolute;
            top: 661px;
            right: 2.5%;
            font-size: 16px;
            color: #75F880;
            &-line {
                position: absolute;
                top: 679px;
                left: 2.5%;
                display: block;
                width: 95%;
                height: 2px;
                background: #E25AF0;
            }
        }
    }

    .heading-row {
        @extend %display-flex-row;
    }

    &_info {
        // transform: translateY(-150px);
        margin-top: 50px;
        padding: 0 8% 0 17%;
        box-sizing: border-box;
        @include sm-down {
            padding: 0 5%;
        }
        h1, h2 {
            margin-top: 11px;
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            color: #FFFFFF;            
        }
        h2 {
            margin-top: 5px;
            font-size: 24px;
        }
        .rating {
            margin-top: 23px;
            font-weight: 300;
            font-size: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
            img {
                vertical-align: middle;
                cursor: pointer;
            }
            img:nth-child(2) {
                transform: rotate3d(90,1,1, 180deg);
                // -webkit-transform: rotate3d(90,1,1, 180deg);
            }
        }
        .rated {
            padding: 5px;
            border-radius: 50%;
            box-shadow: 0 0 5px #75F880;
        }
        p {
            margin-top: 25px;
            font-size: 16px;
            color: #BFBEBE;
        }
        button {
            margin-top: 60px;
            box-shadow: 0px 4px 13px rgba(117, 248, 128, 0.57);
        }
    }
}

.tab {
    margin-top: 101px;
    width: 100%;
    padding: 0 8% 0 17%;
    box-sizing: border-box;
    text-align: center;

    @include sm-down {
        padding: 0 5%;
    }

    button {
        margin-top: 90px;
    }
    &_btns {
        text-align: left;
        button {
            margin-left: 60px;
            background: transparent;
            border: 0;
            font-weight: 500;
            font-size: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:first-child {
                margin-left: 0;
            }

            @include xs-down {
                margin-top: 20px;
                margin-left: 0;
                display: block;
            }
        }
        .tab-btn_active {
            text-decoration: underline;
            text-decoration-color: $purpleColor;
            text-decoration-skip-ink: auto;
        }
    }
    &_view {
        margin-top: 81px;
        margin-left: -30px;
        width: 100%;
        @extend %display-flex-row;
        justify-content: flex-start;
        flex-wrap: wrap;
        div {
            margin-top: 80px;
            margin-left: 30px;
            &:first-child {
                margin-left: 30px;
            }

            @include sm-down {
                width: 45%;
                img {
                    width: 100%;
                }
            }

            @include xs-down {
                margin-left: 0;
                width: 100%;
                &:first-child {
                    margin-left: 0;
                }

                img {
                    width: 100%;
                }
            }
        }

        @include xs-down {
            margin-left: 0;
        }
    }
}