@import "../../../common/styles/mixins.scss";
@import "../../../common/styles/variables.scss";

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 48px 0;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 2;

  @include xs-down {
    padding: 45px 30px;
  }

  .user-name {
    position: relative;
    @extend %display-flex-row;
    justify-content: flex-start;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;

    img {
      margin-right: 6px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #E25AF0;
    }

    // &::before {
    //   margin-right: 5px;
    //   content: '';
    //   display: inline-block;
    //   width: 5px;
    //   height: 5px;
    //   border: 1px solid #E25AF0;
    //   background-color: #E25AF0;
    //   border-radius: 50%;
    // }
  }

  .profile-menu {
    position: absolute;
    top: 115%;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    list-style-type: none;
    background-color: rgb(25, 31, 73);
    border: 2px solid rgb(92, 47, 97);
    border-radius: 10px;
    text-align: right;
    li {
      margin-top: 5px;
      padding: 5px;
      font-size: 13px;
      text-transform: uppercase;
      color: rgb(224, 222, 222);
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    z-index: 1001;
    margin-right: 80px;

    @include xs-down {
      margin-right: 20px;
    }

    &_link {
      display: block;
      width: 222px;

      @include xs-down {
        width: 135px;
        width: 138px;
        img {
          width: 138px;
        }
      }

      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }


  &__nav {
    display: flex;
    align-items: center;


    &_list {
      display: flex;
      align-items: center;
    }

    &_item {
      list-style-type: none;

      &:not(:last-child) {
        margin-right: 40px;

        @include xs-down {
          margin-right: 20px;
          &:first-child {
            display: none;
          }
        }
      }

    }

    &_link {
      display: flex;
      align-items: center;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer;

      &:hover {
        svg {
          path {
            transition: 0.2s;
            fill: #75F880;
          }
        }

        transition: 0.2s;
        color: #75F880;
      }
    }
  }
}